/blog-bkp-16-mar-2016
/cache
/forums
/js/parsed/*
/opendb
/opendb_bak
/style/parsed/*
/uploads/*
!/uploads/conversations/*
!/uploads/dictionary/*
!/uploads/staff/*
!/uploads/supplements/*
!/uploads/tinymceimages/*
/wordpress_old
/tmp/*
/pphpinfo.php
/wordpress-4.4.2.zip
/image_uploads/*
/captcha/*
/bp_image/*
.idea/
/system/application/config/database.php
/crone/logs
/crone/db.php
/crone/config.php
.htaccess
blog/wp-config.php
blog/.htaccess
/logs
robots.txt