body {
font-family: Arial, Helvetica, sans-serif;
text-align: left;
padding: 0px;
margin-top:0px;
background:url('../images/bg_01.jpg')#000000 no-repeat center top;
height:auto;
}
.floatleft{
float:left;
}
.floatright{
float:right;
}
.clearboth{
clear:both;
}
.outer_main_div{
width:1222px;
margin:auto;
padding-top:20px;
}
.header_space{
float:right;
width:1000px;
height:58px;
}
#inner_page_main_cntnr{
float:left;
width:100%;
}
.left_cntnr{
float:left;
width:260px;
height:auto;
padding-top: 200px;
padding-left:0px; 
}
.articles_title{
float: left;
width:80%;
height: 17px;
margin-top:20px;
margin-left:50px;
background:url('../images/articles_title.png') no-repeat;
}
.username{
float:left; color:#FFF; font-weight:bold; text-align:right; padding-top:20px;
}
.logo_cntnr{
cursor:pointer;
height:225px;
left:22px;
position:absolute;
top:-54px;
width:184px;
}
.links_cntnr{
float:left;
}
.brocker_placement_img{
float:left;
background-image:url('../images/index-slice_48.png');
width:237px;
height:144px;
}
.brocker_placement_img:hover{
background-image:url('../images/index-slice_48-60.png');
}
.community_txt_img{
float:left;
width:300px;
height:33px;
background:url('../images/social_media_icons.png') no-repeat;
background-position:0px -2px;

}
.icons_cntnr{
float:left;
width:300px;
margin-top: 20px;
height:48px;
}
.face_book_img{
background:url('../images/social_media_icons.png') no-repeat;
background-position: -1px -46px;
float:left;
width:34px;
height:34px;
margin-right: 3px;
display:block;
cursor:hand;
}
.twitter_img{
background:url('../images/social_media_icons.png') no-repeat;
background-position: -37px -46px;
float:left;
width:34px;
height:34px;
margin-right: 3px;
display:block;
cursor:hand;
}
.youtube_img{
background:url('../images/social_media_icons.png') no-repeat;
background-position: -73px -46px;
float:left;
width:34px;
height:34px;
margin-right: 3px;
display:block;
cursor:hand;
}
.forum_img{
background:url('../images/social_media_icons.png') no-repeat;
background-position: -112px -46px;
float:left;
width:34px;
height:34px;
margin-right: 3px;
display:block;
cursor:hand;
}
.yelp_img{
background:url('../images/social_media_icons.png') no-repeat;
background-position: -149px -46px;
float:left;
width:34px;
height:34px;
margin-right: 3px;
display:block;
cursor:hand;
}
.blog_img{
background:url('../images/social_media_icons.png') no-repeat;
background-position: -186px -46px;
float:left;
width:34px;
height:34px;
margin-right: 3px;
display:block;
cursor:hand;
}

.log_reg_cntnr{
float:right;
width:1000px;
padding-bottom:25px;
}
.reg_div{
float:right;
width:108px;
height:43px;
cursor:pointer;
background-image:url('../images/login_register_normal_hover.png');
background-position:100px 3px;

}
.log_div{
float:right;
width:108px;
height:43px;
cursor:pointer;
background-image:url('../images/login_register_normal_hover.png');
background-position:-9px 101px;

}
.links_div{
float:left;
width:255px;
line-height:20px;
color:#FFF;
padding-top:20px;
}
.links_div a{
text-decoration:none;
color:#FFF;
}
.right_cntnr_bg_hd{
float: left;
width:962px;
height: 64px;
background:url('../images/head.png') no-repeat;
}
.right_cntnr_bg{
float: left;
width:962px;
min-height:805px;
height:auto !important;
height:805px;
background:url('../images/background1.png') no-repeat;

}
.right_cntnr{
float:left;
width:962px;
height:auto;;
}
#sitepagemain{
float:left;
width:97%;
padding:18px 10px 10px 10px;
color:#A3A3A3;
}
.sitepagetitle{
font-weight:bold;
color:#FF0000;
font-size:18px;
padding-bottom:10px;
}
.sitepagecontent{
float:left;
text-align:left;
padding: 10px;
}
.footer_img{
float:left;
height:254px;
width:100%;
background:url('../images/bg_03.jpg')  #000  no-repeat center top;
}
#site_links a{
color:#A2A5A5;
text-decoration: none;
width:250px;
line-height: 26px;
padding: 3px 0px;
font-style: italic;
font-weight:bold;
font-size: 20px;
}
#site_links a:hover{
background-color: #D1FF52;
color:#000;

}
.sitepagehead{
padding-left:50px; padding-top:3px; color:#A5CE34;font-weight:bold; font-style:italic; float:left;
}
.sitepagehead h1{font-size:22px;}
.sitepagehead h2{display:none;}
.phone_div{
float:left;
width:35px;
height:35px;
margin-left:10px;
margin-top: 100px;
background:url('../images/phone_note.png') no-repeat;
}
.phone_no{
float:left; color:#A2A5A5; font-size:30px; font-weight:normal; padding-top:100px; padding-left:10px;
}
.notepad_div{
float:left;
width:35px;
height:46px;
margin-left:10px;
margin-top: 10px;
background:url('../images/phone_note.png') no-repeat;
background-position:0px -54px;
}
.fax_no{
float:left; color:#A2A5A5; font-size:30px; font-weight:normal; padding-top:10px; padding-left:10px;
}                
.cb{ clear:both; }
.sitemap_s{
color:#A2A5A5; text-decoration:none;line-height:25px; font-weight:bold
}
.articleback{
float:left; width:99%; text-align:right; padding-top:20px;
}
.articles_back_btn {
background:url('../images/articlesPageButtons.png') no-repeat;
background-position: 150px -3px;
width:350px;
height: 34px;
display:block;
margin-left:662px;
}

.logo_cntnr{
background:url('../images/adhischools_logo.png');
background-repeat: no-repeat;
cursor: pointer;
height: 217px;
left: 0px;
position: relative !important;
top: -60px;
width: 184px;
margin: 0 auto;	
}
.left_cntnr{
padding-top:0px !important;
}
.pos_rel{position: relative;}
.art_page_dec{text-decoration:none;color:#A3A3A3;}
.sponsorid {
color: #9B9B9B;
float: left;
padding-top: 5px;
text-align: left;
font-size: 12px;
}
.mt_15{margin-top:15px;}
.art_icn_con{margin-bottom:7px;width:258px;}
.links_div{font-size:11px;}
 .message{
	float:left;
	margin:170px 0px 170px 0px;
	width:100%;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	color:#A5CE34;
}