.w100perc{width:100%;}
.pos_rel{position: relative;}
body {
font-family: Arial, Helvetica, sans-serif;
text-align: left;
padding: 0px;
margin-top:0px;
background:url(<?php echo $image_url.'bg_01.jpg'?>) #000000 no-repeat center top;
height:auto;
}
.mt_15{margin-top:15px;}
.art_icn_con{margin-bottom:7px;width:258px;}
.artcurp{cursor:pointer;}