/* "Photo Pro" Template by Dieter Schneider | www.csstemplateheaven.com */

#divMainCalendar a {color: #FFC}

#divMainCalendar p {padding: 15px 0; text-align: justify}

#divMainCalendar h2 {background:#A80403; padding:5px; color: #FFF; font-weight: normal; letter-spacing: .15em}

/* navigation*/

#divMainCalendar table {
	border-collapse: separate;
	border: 1px solid #9DABCE;
	border-width: 0px 0px 1px 1px;
	margin: 10px auto;
	font-size: 20px;
}
#divMainCalendar td, th {
	width: 83px;
	height: 67px;
	text-align: center;
	vertical-align: middle;
	color: #444;
	position: relative;
	border: 1px solid #9DABCE;
}
#divMainCalendar th {
	height: 25px;
	font-weight: bold;
	font-size: 14px;
}
#divMainCalendar td:hover, th:hover {
	background-color:#AAA;
	color: #222;
}
#divMainCalendar td.date_has_event {
	background-color:#CFECEC;
	color: #566D7E;
	cursor:pointer;
}
#divMainCalendar td.date_has_event:hover {
	background-color:#87AFC7;
	color: white;
	cursor:pointer;
}
.selectedDay {
	background-color:#87AFC7 !important;
	color: white !important;
	cursor:pointer;
}
#divMainCalendar td.padding {
	background-color:#8C8E8D;
}
#divMainCalendar td#today {
	background-color:#37414A;
	color: white;
}
#divMainCalendar td#today:hover {
	background-color:#77BFC7;
}
.eventscrs {
	position: relative;
}
.events {
	position: relative;
}
.events ul {
	text-align: left;
	position: absolute;
	display: none;
	z-index: 1000;
	padding: 15px;
	/*background: #E7ECF2 url(../../images/popup.png) no-repeat;*/
	color: white;
	border: 1px solid white;
	font-size: 15px;
	width: 200px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	-border-radius: 3px;
	list-style: none;
	color: #444444;
	-webkit-box-shadow: 0px 8px 8px #333;
}
.events li {
	padding-bottom: 5px;
}
.events li span {
	display: block;
	font-size: 12px;
	text-align: justify;
	color: #555;
}
.events li span.title {
	font-weight: bold;
	color: #222;
}

#divMainCalendar th a{
	text-decoration:none;
	font-size:120%;
	font-weight:bold;
	color: #000;
	outline-width:0;
}

.dayevents{
	border: 1px solid #666666;
	padding: 10px;
	text-align: left;
}

.dayevents h3{
	background:none repeat scroll 0 0 #303030;
	color:#FFFFFF;
	font-weight:normal;
	letter-spacing:0.15em;
	padding:10px;
}

#divDisplayEventList {
	float:left;
	margin:0px 10px 0px 10px;
	padding:5px;
	border:1px solid #CCCCCC;
	width:97%;
	display:none;
}

.popup_draghandle{
	color:white;
}