.fl{float:left;}
.fr{float:right;}
.cb{clear:both;}
.mt20{margin-top:20px}
.mt10{margin-top:10px}
.dash_outer{width:975px;padding:20px;position:relative;}
.dash_l_box{width:235px;}
.dash_r_box{width:715px;margin-left:20px;position:relative;}
.box_head {
background-color: #F5F5F5;
border: 1px solid #B6BBBF;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
padding: 8px 10px;
font-weight:bold;
color:#626262;
font-size:13px;
width:213px;
}
.view_more{background-color: #F0F3F8;text-align:center;padding: 5px 10px;font-weight:bold;float:left;font-size:12px;text-decoration:none;color:#626262;width:213px;cursor:pointer;}
.dash_lin_box{border: 1px solid #E2E2E2;width:233px;border-top:0;}
.count_row{padding: 8px 10px 8px 5px;width:220px;}
.count_row span{color:#878787;font-size:13px;}
.subcount_row{padding: 8px 10px 8px 60px;width:165px;}
.subcount_row span{color:#878787;font-size:13px;}
.dotted_hr{border-top:1px dotted #868686;margin:0 10px;clear:both;}
.dash_cnt{
background-color: #DDDDDD;
color: #878787;
font-size: 12px;
font-weight: bold;
line-height: 14px;
padding: 2px 4px;
vertical-align: baseline;
border-radius: 9px 9px 9px 9px;
padding-left: 9px;
padding-right: 9px;
}
.dash_icon{background-image:url('<?php echo $image_url;?>dash_icons.png');background-repeat:no-repeat;width:40px;background-position:5px -226px;height:18px;}
.uniq_icon{
height: 17px;
background-position:5px 0;
}
.act_icon{
height: 21px;
background-position:5px -17px;
}
.pass_icon{
height: 17px;
background-position:0 -37px;
}
.fail_icon{
height: 16px;
background-position:5px -53px;
}
.ongoing_icon{
height: 16px;
background-position:5px -68px;
}
.chrome_icon{
height: 18px;
background-position:5px -83px;
}
.safari_icon{
height: 18px;
background-position:5px -151px;
}
.internet_explorer_icon{
height: 17px;
background-position:5px -101px;
}
.chrome_icon{
height: 18px;
background-position:5px -83px;
}
.firefox_icon{
height: 18px;
background-position:5px -117px;
}
.opera_icon{
height: 18px;
background-position:5px -137px;
}
.windows_icon{
height: 17px;
background-position:5px -168px;
}
.macintosh_icon{
height: 24px;
background-position:5px -203px;
}
.ios_icon{
height: 24px;
background-position:5px -203px;
}
.linux_icon, .android_icon{
height: 20px;
background-position:5px -184px;
}
.searchbox{
background-color: #F5F5F5;
border: 1px solid #B6BBBF;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
padding: 25px 20px;
font-weight:bold;
color:#626262;
font-size:13px;
width:675px;


 background: #f8f8f8; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlN2U4ZTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f8f8f8 0%, #e7e8e9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#e7e8e9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f8f8f8 0%,#e7e8e9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f8f8f8 0%,#e7e8e9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f8f8f8 0%,#e7e8e9 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f8f8f8 0%,#e7e8e9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e7e8e9',GradientType=0 ); /* IE6-8 */
}
.searchtxtbox{
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border-radius: 4px 4px 4px 4px;
    padding: 4px 6px;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    width:250px;
    color:#626262;
    
    
   

}
.searchbtn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #626262;
    cursor: pointer;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 5px 10px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    font-weight:bold;
}
.searchbtn:hover{
    background-color: #E6E6E6;
    color: #333333;
}
.boxr_head {
background-color: #F5F5F5;
border: 1px solid #B6BBBF;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
padding: 8px 10px;
font-weight:bold;
color:#626262;
font-size:13px;
text-align: center;
border-bottom:0;
margin-left:1px;
cursor: pointer;
}
/*.boxr_head_spc{width:1px;height:1px;}*/
.dash_rpt{border:1px solid #E2E2E2;width:715px;min-height:600px;overflow: hidden;}
.boxr_head_sel{
background-color: #FFF;
border: 1px solid #E2E2E2;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
padding:18px 10px 8px;
font-weight:bold;
color:#626262;
font-size:13px;
text-align: center;
border-bottom:0;
margin-left:1px;
margin-top:-6px;
height:17px;
padding-top: 13px !important;
}
.boxr_head_sel.gr-bg{background: #FFF;}

.os_browser_comb_div{
    width:550px;
    padding:25px;
    margin:0 auto;
    clear:both;
    background:#F1F4F8;
    border:1px solid #EAEBEC;
    overflow: hidden;
}
.obcd_l,.obcd_r{float:left;}
.obcd_l{padding-top:40px;text-align: center;width:200px;font-size:15px;}
.obcd_r{padding-left: 20px;width:330px;line-height: 25px;}
.overlay_div{position: absolute; top: 0;left: 0; width: 100%;height: 100%;z-index: 10;
  background-color: rgba(0,0,0,0.05); /*dim the background*/
background-image:url('<?php echo $image_url;?>horizontal_loading.gif');background-repeat:no-repeat;background-position: center center;
}
.gr-bg{
    background: #f9f9f9; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGU5ZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f9f9f9 0%, #e8e9ea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#e8e9ea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f9f9f9 0%,#e8e9ea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f9f9f9 0%,#e8e9ea 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f9f9f9 0%,#e8e9ea 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f9f9f9 0%,#e8e9ea 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e8e9ea',GradientType=0 ); /* IE6-8 */
}
.boxr_head_cnt{position: relative;z-index: 10;margin-bottom:-1px;width:717px;}
#dash_r_box_2{background-image: none;}
#dash_r_box_2 a{position:absolute;left:50%;top:50%;}

.osbr_ti{float:left;width:74%;text-align:right;}
.osbr_sep{float:left;width:2%;padding:0 2%;text-align:center;}
.osbr_count{float:left;width:20%;color:#14BCD5;text-align:left;}

.dash_item_page{padding:15px;}
.dip_head{margin:25px 0 60px 60px;}
.dip_head_ti, .dip_head_ti span{font-size: 20px;color:#444444;}
.dip_head_sep{margin-top:20px;color:white;font-size:16px;}
.dip_head_sep_left, .dip_head_sep_right, .dip_head_sep_left span, .dip_head_sep_right span{font-size:13px;line-height:13px;}
.dip_head_sep_left, .dip_head_sep_right{float:left;width:212px;padding:7px 0 0 15px;text-align:left;height:22px;font-weight:bold;}
.dip_head_sep_left{margin-right:2px;}
.dip_head_sep_left{background:#17D6BD;}
.dip_head_sep_right{background:#28AEE3;}



.report_head {
    background-color: #959595;
    color: #FFFFFF;
    margin: 20px 20px 20px 20px;
    font-size: 16px;
    padding: 10px 10px 10px 10px;
    font-weight: bold;
}

.report_content {
    overflow: hidden;
    clear:both;
    margin: 25px 0 0 0 ;
}
.report_left_content{
    width: 30%;
    float: left;
}
.report_right_content{
    float: left;
}
.report_nav{
    overflow: hidden; 
    margin: 0 0 10px 21px;
    padding: 0;
}
.report_nav_detail{
    min-height: 100px;
    overflow: auto; 
    margin: 0 0 10px 40px;
    padding: 0px;
}

.report_left_content ul { 
    list-style: none; 
}
.report_left_content ul li.current  {
    display: block;
    padding: 8px; 
    color: #000000;
    background-color: #F2F2F2; 
    text-decoration:none;
    font-weight: bold;
    cursor: pointer;
    border:1px solid #ebebeb;
    border-right:none;
}
.report_left_content ul li  {
    display: block;
    padding: 10px; 
    color: #7b7b7b;
    text-decoration:none;
    cursor: pointer;
}
.report_right_content {
    background-color: #F2F2F2; 
    width: 67%;
}
.report_detail {
    float: left;
    padding-bottom:20px;
    border:1px solid #ebebeb;
    border-left:none;
}

#total_students {
    margin: 20px 10px 0px 40px;
    font-weight: bold;
}
#detail_students {
    height: 415px;
    overflow: auto;
    width: 170px;
    float:left;
}
#detail_students ul li  {
    display: block;
    color: #000000;
    text-decoration:none;
    cursor: pointer;
    font-size: 12px;
    padding: 2px 2px 10px 2px;
}
#detail_students ul li a {
    text-decoration: none;
    cursor: pointer;
    color: #000000;
}
#piechart1 {
    float: left;
}
.chart_title{
    float: left;
    margin-left: 82px;
    /*font-weight: bold;*/
    padding-bottom: 10px;
    font-size:15px;    
}
.report_underline {
    color: #DADADA;
    margin: 0 0 20px 40px;
    padding: 0;
    text-decoration: underline;
}

/* vertical track */
#track1 {
        float: left;
        width: 15px;
        height: 200px;
        margin-left: 10px;
        background-color: #ccc;
}
/* vertical track handle */
#handle1 {
        width: 15px;
        height: 20px;
        background-color: #f00;
        cursor: move;
}
/*.report_left_content ul li a:hover, #example-one ul li a:focus { background: #fe4902; color: white; }*/

.count_bg{background:#5EA8C8;color:white;}

.os_browser_drop_div{clear:both;width:565px;margin:40px auto 50px;overflow:hidden;}
.osbdd_ti{font-size:15px;clear:both;margin-bottom:10px;}
.osbdd_select{float:left;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;width:250px;margin-right:10px;background:white;padding:4px 10px;border:1px solid #ccc;}
.combination_count{float:left;padding-top:5px;}
.active_total_cnt, .active_total_cnt span{font-size: 17px;}
.dash_hti{font-size: 17px;}
.dash_hti.b{font-weight:bold;}
span.num_big{font-size:18px;}
#date_errordisplay{color:red;text-align: center;width:100%;clear:both;padding-top:10px;}

option.highlight{color:#1586D7;font-weight:bold;}
.browser_pie_cnt{float:left;width:350px;}
.platform_pie_cnt{float:left;width:350px;}
.pie_title{width:100%;float:left;padding-bottom:0px;font-size:15px;text-align:center;}
.chart_cont{padding-top:45px;clear:both;overflow:hidden;height:330px;}


.average_time_spent_cnt{clear:both;overflow:hidden;}
.average_time_spent_cnt .dip_head_ti{padding-bottom:15px;}
.average_time_spent_cnt .pagination {padding-top:10px;}
.average_time_spent_cnt .pagination a{cursor:pointer;color:blue;}
.ct_data_rows{min-height:100px;text-align:center;}
.no_record_found{padding:70px 0 0 239px;color:#878787;}
#user_report_piechart1 .no_record_found{padding-left:300px;}
.os_bg{background-color:#EEEEEF;}
/* custom table using div */
.custom_table{clear:both;overflow:hidden;border-top:1px solid #ccc;}
.ct_head, .ct_row{clear:both;overflow:hidden;border-bottom:1px solid #ccc;border-left:1px solid #ccc;}
.ct_td{float:left;padding:7px 0 0 10px;height:18px;text-align:left;border-right:1px solid #ccc;}
.ct_head .ct_td{/*background-color:#28AEE3;*/font-weight:bold;color:#626262;}
.empty_data{text-align:center;padding:5px 0;border-right:1px solid #ccc;}

.exam_report_content .report_left_content{width:30%;}
.exam_report_content .report_right_content{width:67%;}
.exam_report_content #detail_students{width:206px;}
#detail_students ul li a:hover{color:#4286F4;}
.rec_drop_div{
    clear: both;
    margin: 27px auto 0;
    overflow: hidden;
    width: 100%; 
}
.rec_head{
    font-size:15px;
    text-align:center;
    margin: 3% 0%;
}
.rec_piechart{
    text-align:center;
}
.rec_list_div{
    overflow-y:auto;
    overflow-x:hidden;
    max-height:250px;
    width:99%;
    margin-left: 1%;
    text-align: right;
    border: 1px solid rgb(153, 153, 153);
    background: none repeat scroll 0% 0% rgb(232, 227, 220);
}