@-webkit-keyframes myanimation {
  from {
    left: 0%;
  }
  to {
    left: 50%;
  }
}

.checkout-wrap {
  color: #444;
  /*font-family: 'PT Sans Caption', sans-serif;*/
  margin: 40px auto;
  max-width: 1200px;
  position: relative;
  /*height: 80px;*/
}

.profile-progress-bar{padding-left: 0px;}

ul.profile-progress-bar li {
  color: #ccc;
  display: block;
  font-size: 16px;
  font-weight: 300;
  padding: 14px 20px 14px 80px;
  position: relative;
  line-height: 20px;
}
ul.profile-progress-bar li {
  /*background: #0fd98f;*/
  color: #3c3c3c;
  /*z-index: 99999;*/
}

 ul.profile-progress-bar li:before {
    /*-webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    */
    background-color: #f1f1f1;
    /*border: 2px solid #FFF;*/
    border-radius: 50%;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    left: 20px;
    line-height: 100px;
    height: 50px;
    position: absolute;
    text-align: center;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    top: 10px;
    width: 50px;
    z-index: 999;
    
    background-image:url("./../../images/reskin/tick-grey.png");
    background-position:center center !important;
    background-repeat:no-repeat !important;
    background-size: 50% 50%;
  }
  ul.profile-progress-bar li.visited:before, ul.profile-progress-bar li.temp_visit:before {
    background-image:url("./../../images/reskin/tick-black.png");
    background-color: #0fd98f;
    
  }
  ul.profile-progress-bar li:after {
    background-size: 35px 35px;
    background-color: #f1f1f1;
    content: "";
    height: 100%;
    left: 43px;
    position: absolute;
    top: 50%;
    width: 5px;
    z-index: 99;
    
  }
  ul.profile-progress-bar li.last:after {
      background-color: transparent;
  }
  
  ul.profile-progress-bar li.visited:after,
  ul.profile-progress-bar li.temp_visit:after {
    background-size: 35px 35px;
    background-color: #0fd98f;
    /*background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    */
    content: "";
    height: 100%;
    left: 43px;
    position: absolute;
    top: 50%;
    width: 5px;
    z-index: 99;
    
  }
  ul.profile-progress-bar li.active:before{
      width: 50px;
      height: 50px;
      transition: all .2s ease-in-out;
  }
  ul.profile-progress-bar li.active:hover:before, ul.profile-progress-bar li.active.hover:before,
  ul.profile-progress-bar li.status:hover:before{
      width: 155px;
      height: 155px;
      top: -50px;
      background-color: #0fd98f!important;
      background-image:none;
      /*background-image:url("./../../images/reskin/tick-white.png") !important ;*/
      background-size: auto auto;
      left:-10px;
      z-index: 1000;
  }
  ul.profile-progress-bar li.active:nth-child(4):hover:before , ul.profile-progress-bar li.active.hover:nth-child(4):before{
    content: "";
    padding:50px 25px 0 25px;
    line-height: 18px;
    font-weight: 600;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
    -webkit-text-shadow:1px 1px rgba(0, 0, 0, 0.6);
  }
  ul.profile-progress-bar li.last.visited:after{
      background-color: transparent;
  }
  ul.profile-progress-bar li.last:before{
      z-index: 998;
  }
ul.profile-progress-bar li:nth-child(1):before {
  content: "";  
}
ul.profile-progress-bar li:nth-child(2):before {
  content: "";
}
ul.profile-progress-bar li:nth-child(3):before {
  content: "";
}
ul.profile-progress-bar li:nth-child(4):before {
  content: "";
}
ul.profile-progress-bar li:nth-child(5):before {
  content: "";
}
ul.profile-progress-bar li:nth-child(6):before {
  content: "";
}

ul.profile-progress-bar li.active{
    cursor: pointer;
}

.p_hover{font-size:13px;line-height: 17px;
        position:absolute;display: none;z-index: 1000;
        top:-30px;
        font-weight: bold;padding: 25px;transition: opacity .5s ease-in-out;opacity: 0;left:-15px;
        width:155px;text-align: center;
}
.p_hover a{color:#5c2775!important;font-size:13px;}
.p_hover a:hover{text-decoration: underline;}
ul.profile-progress-bar li.active:hover .p_hover,
ul.profile-progress-bar li.hover .p_hover,
ul.profile-progress-bar li.status:hover .p_hover{
    display: block;
    opacity:1;
}
ul.profile-progress-bar li.active.hover .p_ti, ul.profile-progress-bar li.active:hover .p_ti,
  ul.profile-progress-bar li.status:hover .p_ti  
  {
      color: white;
  }

ul.profile-progress-bar li:nth-child(2) .p_hover{
    top:-40px;
}
ul.profile-progress-bar li:nth-child(3) .p_hover{
    top:-45px;
    font-size: 11px;
    left:-19px;
    line-height: 15px;
}
ul.profile-progress-bar li:nth-child(3) .p_hover a{
    font-size: 11px;
}
ul.profile-progress-bar li:nth-child(5) .p_hover{
    top:-25px;
}

ul.profile-progress-bar li.temp_visit.first:after{
    background-color: #0fd98f;
}
@media all and (min-width: 800px) {
  ul.profile-progress-bar li:before {
    /*-webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    */
    background: #f1f1f1;
    /*border: 2px solid #FFF;*/
    border-radius: 50%;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    left: 20px;
    line-height: 100px;
    height: 100px;
    position: absolute;
    text-align: center;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    top: 4px;
    width: 100px;
    z-index: 999;
  }

    
    
   ul.profile-progress-bar li.visited:before,
   ul.profile-progress-bar li.temp_visit:before {
    /*z-index: 99999;*/
    background-image:url("./../../images/reskin/tick-black.png") !important ;
    background-color: #0fd98f !important;  
  } 
    
  .checkout-wrap {
    margin: 130px auto 50px;
    height: 80px;
  }

  ul.profile-progress-bar {
    /*-webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    */
    background-size: 35px 35px;
    /*background-color: #0fd98f;*/
    /*background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    */
    border-radius: 15px;
    height: 10px;
    margin: 0 auto 0 15px;
    padding: 0;
    position: absolute;
    width: 100%;
  }
  ul.profile-progress-bar:before {
    background-size: 35px 35px;
    /*background-color: #f1f1f1;*/
    /*background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    */
    border-radius: 15px;
    content: " ";
    height: 10px;
    left: 0;
    position: absolute;
    width: 10%;
  }
  ul.profile-progress-bar li {
    display: inline-block;
    margin: 70px 0 0;
    padding: 0;
    text-align: center;
    width: 19%;
    color:#585858;
  }
  ul.profile-progress-bar li:before {
    height: 100px;
    left: 25%;
    line-height: 45px;
    position: absolute;
    top: -120px;
    width: 100px;
    /*z-index: 1000000;    
    z-index: 999;    */
    background-image:url("./../../images/reskin/tick-grey.png") !important ;
    background-position:center center !important;
    background-repeat:no-repeat !important;
    background-color: #f1f1f1 !important;
    transition: all .2s ease-in-out;
  }
  ul.profile-progress-bar li.visited {
    background: none;
  }
  ul.profile-progress-bar li.visited:after,
  ul.profile-progress-bar li.temp_visit:after {
    background-size: 35px 35px;
    background-color: #0fd98f;
    /*background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    */
    content: "";
    height: 10px;
    left: -50%;
    position: absolute;
    top: -70px;
    width: 100%;
    z-index: 99;
    
  }
  
  ul.profile-progress-bar li.visited.last:after {
    background-size: 35px 35px;
    background-color: #0fd98f;
    /*background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    */
    content: "";
    height: 10px;
    left: -50%;
    position: absolute;
    top: -70px;
    width: 100%;
    z-index: 99;
  }
  
  ul.profile-progress-bar li:after {
    background-size: 35px 35px;
    background-color: #f1f1f1;
    /*background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    */
    content: "";
    height: 10px;
    left: -50%;
    position: absolute;
    top: -70px;
    width: 100%;
    z-index: 99;
    
  }
  ul.profile-progress-bar li.last:after {
    background-size: 35px 35px;
    background-color: #f1f1f1;
    /*background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    */
    content: "";
    height: 10px;
    left: -50%;
    position: absolute;
    top: -70px;
    width: 100%;
    z-index: 99;
    
  }
  ul.profile-progress-bar li.active:before{
      width: 100px;
      height: 100px;
      transition: all .2s ease-in-out;
  }
  ul.profile-progress-bar li.active:hover:before,  ul.profile-progress-bar li.active.hover:before,
  ul.profile-progress-bar li.status:hover:before{
      width: 235px;
      height: 235px;
      top: -188px;
      background-color: #0fd98f;
      background-color: #0fd98f!important;
      /*background-image:url("./../../images/reskin/tick-white.png") !important ;*/
      background-image:none !important ;
      left:-13px;
  }
  ul.profile-progress-bar li.active:hover:after, ul.profile-progress-bar li.active.hover:after,
  ul.profile-progress-bar li.status:hover:after{
      background-color: #0fd98f;
      z-index: 99;
  }
  
  ul.profile-progress-bar li.active:nth-child(4):hover:before , ul.profile-progress-bar li.active.hover:nth-child(4):before{
    content: " ";
    padding: 140px 45px 0 45px;
    line-height: 18px;
    font-weight: 600;
  }
  ul.profile-progress-bar li.visited.first:after, ul.profile-progress-bar li.first:after{
      background-color: transparent;
  }
  /*
  ul.profile-progress-bar li.visited.first:before{
    animation: colorfill 2s;
    -moz-animation: colorfill 2s;
    -webkit-animation: colorfill 2s;
  }
  
  ul.profile-progress-bar li.visited:nth-child(2):after{
    animation: fill 2s;
    -moz-animation: fill 2s;
    -webkit-animation: fill 2s;
    
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
  }
  */
  ul.profile-progress-bar li.active.hover .p_ti, ul.profile-progress-bar li.active:hover .p_ti,
  ul.profile-progress-bar li.status:hover .p_ti  
  {
      color: white;
  }
    @keyframes colorfill
    {
        from {width:0px;}
        to {width:100px;}
    }
    @-moz-keyframes colorfill /* Firefox */
    {
        from {width:0px;}
        to {width:100px;}
    }    
    @-webkit-keyframes colorfill /* Safari and Chrome */
    {
        from {width:0px;}
        to {width:100px;}
    }
    
    
    @keyframes fill
    {
        from {width:0%;}
        to {width:100%;}
    }

    @-moz-keyframes fill /* Firefox */
    {
        from {width:0%;}
        to {width:100%;}
    }

    @-webkit-keyframes fill /* Safari and Chrome */
    {
        from {width:0%;}
        to {width:100%;}
    }
    
    .p_hover{font-size:15px;line-height: 18px;position:absolute;display: none;z-index: 1000;top:-110px;
            font-weight: bold;padding: 25px;transition: opacity .5s ease-in-out;opacity: 0;
            width:100%;
            left:-5px;
    }
    .p_hover a{color:#5c2775!important;font-size:13px;}
    .p_hover a:hover{text-decoration: underline;}
    ul.profile-progress-bar li.active:hover .p_hover,
    ul.profile-progress-bar li.hover .p_hover,
    ul.profile-progress-bar li.status:hover .p_hover{
        display: block;
        opacity:1;
    }
    
    ul.profile-progress-bar li:nth-child(2) .p_hover{
        top:-125px;
    }
    ul.profile-progress-bar li:nth-child(3) .p_hover{
        top:-110px;
        font-size: 15px;line-height: 18px;
        left:-5px;
    }
    ul.profile-progress-bar li:nth-child(3) .p_hover a{
        font-size: 15px;line-height: 18px;        
    }
    ul.profile-progress-bar li:nth-child(5) .p_hover{
        top:-110px;
    }
    ul.profile-progress-bar li:nth-child(4) .p_hover{
        top:-130px;
    }
}
